@import "CSD/variables.less";
@import "CSD/fonts.less";
@import "CSD/landing.less";
@import "CSD/register.less";
@import "CSD/login.less";
@import "CSD/home.less";
@import "CSD/profile.less";
@import "CSD/modules.less";
@import "CSD/info-cv.less";
@import "CSD/subscription.less";
@import "CSD/email.less";

html {
	font-size: 16px !important;
}
body {
	font-family: 'Open Sans', sans-serif;
}
/* oocss clases */
.absolute {
	position: absolute;
}
.relative
{
	position: relative;
}
.right-text {
	text-align: right !important;
}
.center
{
	text-align: center;
}
.left	 {
	text-align: left;
}
.right {
	text-align: right;
}
.color-w {
	color: @white-csd !important;
}
.martop {
	margin-top: 1.5rem;
}
.marbot {
	margin-bottom: 1.5rem;
}
.mt0 {
	margin-top: 0;
}
.mb0 {
	margin-bottom: 0;
}
.pt0 {
	padding-top: 0 !important;
}
.csd-color {
	color: @verde-csd;
}
.red {
	color: red;
	top: .2rem;
}
.white {
	color: @white-csd;
}
.gray {
	color: @gray-csd;
}
.fw-bold {
	font-weight: bold;
}
.fs-min {
	font-size: @font-size-min; 
}
.ff {
	font-family: @font-family;
	position: relative;
	top: -.2rem;
}
.border-csd {
	border-color: #17c7a0 !important;
}
/*

	NAV-BAR - GLOBAL

*/
.navbar-csd {
	background: @verde-csd;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-global {
	background: @verde-csd;
	height: 5.19em;
}	
.header-logo {
	width: 90px;
	height: auto;
	position: relative;
	top: .25em;
	left: 0em;
	float: left;
	margin-right: 1rem;
}
.nav-ul-li-global {
	color: #FFF !important;
	line-height: 3.19rem !important;
	font-size: 0.88rem;
}
.nav-ul-li-global:hover,
.nav-ul-li-global:focus {
	background: #198B72 !important;
}
/* MAIN - MOBILE */
.hamburguer-menu {
	position: absolute;
	right: .4rem;
	line-height: 5.19rem;
	font-size: 1.7em;
	display: none;
	text-decoration: none;
	color: white;
}
.hamburguer-menu:hover {
	text-decoration: none;
}
.main-navmobil-global {
	display: none;
}
.main-navmobil-global ul {
	padding: 0;
	width: 76%;
	position: absolute;
	border-radius: 5px;
	top: 0;
	transition: .3s;
	background: #f4f4f4;;
	margin: 0;
	z-index: 999;
	left: 50%;
	margin-left: -38%;
	text-align: center;
}
.main-navmobil-global ul li {
	text-align: center;
	height: 50px;
	line-height: 50px;
	transition: .3s;
	list-style: none;
}
.logo-mobil {
	width: 25%;
	height: auto;
}
.main-navmobil-global ul li a {
	text-decoration: none;
	color: @verde-csd;
	font-weight: 600;
    outline: none;
    padding: .88rem 3rem;
}
.main-navmobil-global ul li:hover {
	background: #198B72;
}
.mobiles-img img {
	height: auto;
	max-width: 100%;
	padding: 0;
}
/*

	FOOTER - GLOBAL

*/
.footer-global {
	text-align: center;
	margin-top: 4.5rem;
	line-height: 3.56rem;
	height: 3.56rem;
}
.footer-global ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.footer-global ul li {
	display: inline-block;
	position: absolute;
}
.footer-global ul > li:nth-child(1) {
	left: 4rem;
}
.footer-global ul > li:nth-child(2) {
	right: 22.4rem;
}
.footer-global ul > li:nth-child(3) {
	right: 13rem;
}
.footer-global ul > li:nth-child(4) {
	right: 4rem;
}
.footer-global ul li a {
	display: inline-block;
	color: #626262;
	font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
}
.mgbtn0 {
	margin-bottom: 0
}
.privacy-title {
	font-weight: bold;
	margin-top: 5rem;
	font-size: 4rem;
}
/*

	ALERT - CSD

*/
.alert-csd {
	border: 3px solid @border-alert-csd;
	color: @text-alert-csd;
	padding: 1.3em 4em;
	background: white;
	width: 90%;
	margin: 0 auto;
}
.sign-info {
	font-size: 4rem;
	float: left;
	line-height: 4rem;
	margin-right: 2rem;
	color: @text-alert-csd;
}
.alert-csd p {
	padding-left: 6rem;
}
/*

	BUTTON - CSD

*/
.btn-csd {
	background: @buttongreen-csd;
    padding: .8rem 1.6rem;
	font-size: 0.88rem;
	color: @white-csd;
	font-weight: bold;
	text-decoration: none;
	margin-top: 1rem;
	border-style: none;
}
.btn-csd:hover {
	background: @butongreen-hover-csd;
	color: @white-csd;
}
.btn-csd-small {
	background: @buttongreen-csd;
    padding: .5rem 1.6rem;
	font-size: 0.88rem;
	color: @white-csd;
	font-weight: bold;
	text-decoration: none;
	border-style: none;
}
.btn-csd-small:hover {
	background: @butongreen-hover-csd;
	color: @white-csd;
}
.btn-danger {
	background: rgb(217, 83, 79);
}
/*

	MEDIAS QUERYS - CSD

*/
@media screen and (max-width: 1199px) {
	.sign-info {
		line-height: 7rem;
	}
}
@media screen and (max-width: 991px) {
	.footer-global {
		height: auto;
	}
	.footer-global ul li {
		display: inline-block;
		position: static;
		height: 2rem;
	}
	.footer-global ul > li:nth-child(1) {
		display: block;
	}
}
@media screen and (max-width: 767px) {
	.header-logo {
		position: absolute;
		margin-left: 2rem;
	}
	.nav-item {
		padding: 0 15px !important;
	}
	.nav-ul-li-globalrespon {
		color: #FFF !important;
		line-height: 3.19rem !important;
		font-size: 0.88rem;
	}
}
@media screen and (max-width: 732px) {
	.alert-csd {
		padding: 1.3em 2em;
	}
	.sign-info {
		display: none;
	}
	.alert-csd p {
		padding-left: 0rem;
	}
}
@media screen and (max-width: 630px) {
	.hamburguer-menu {
		display: block;
	}
}
@media screen and (max-width: 430px) {
	.footer-global ul li a {
		font-size: .6rem;
	}
}

