@import "bootstrap.less";
@import "fonts.less";
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

body {
	font-family: 'Open Sans', sans-serif;
}
.header {
  height: 162px;
  font-size: 6em;
}
.csd {
	font-weight: bold;
}
.csd-icon {
	position: relative;
  left: 1em;
  color: #17c7a0;
  float: left;
  top: 0.15em;
}
.rds-icon {
	color: rgb(173,173,173);
  float: left;
  top: 1.16em;
  position: relative;
  right: 2em;
  font-size: .5em;
}
.logo-csdCloud{
  font-family: 'Fjalla One', sans-serif;
	position: absolute;
  left: .1em;
  top: 1.8em;
  font-size: .5em;
}
.logo-csdSD{
  font-family: 'Fjalla One', sans-serif;
	position: absolute;
	right: -1.5em;
	top: 4em;
	font-size: 1em;
	width: 80px;
}
.slider {
	height: 493px;
	background: rgb(23,180,199);
}
.info {
	padding: 0 50px;
	font-size: 0;
}
.info-whatis {
  display: inline-table;
  width: 60%;
  vertical-align: top;
  padding-bottom: 3.12rem;
  padding: 3.12rem 0;
}
.info-whatis p:nth-child(1) {
  font-family: 'Fjalla One', sans-serif;
	font-size: 2.50rem;
	color: #17c7a0;
	margin-bottom: 0;
}
.info-whatis p:nth-child(2) {
  font-size: 1.625rem;
  color: #797979;
  line-height: 1.875rem;
  margin-bottom: 24px;
}
.info-whatis p:nth-child(3) {
  font-size: 1rem;
  color: #626262;
  line-height: 1.62rem;
  margin-bottom: 0;
}
.info-imgcsd {
  background: red;
  width: 40%;
  height: 229px;
  display: inline-table;
  padding: 3.12rem 0;
}
.info-actionsimgpc {
	width: 45%;
	background: rgb(244,244,244);
	display: inline-block;
	padding: 3.12em 0;
	font-size: 1rem;
	vertical-align: top;	
	text-align: center;
}
.info-actionsimgpc img {
	height: 300px;
}
.info-actions {
	width: 55%;
	display: inline-block;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #626262;
	line-height: 1.62rem;
	background: rgb(244,244,244);
	padding: 3.12em 0;
}
.btn-seeplans {
	background: #17C7A0;
	padding: 1.25em 2.50em;
	font-size: 1rem;
	color: #FFFFFF;
	font-weight: bold;
  margin-left: 2.5em;
}
.info-featureone {
	padding: 3.12rem 0;
	display: inline-block;
	height: 300px;
	width: 33.33%;
	background: green;
}
.info-featuretwo {
	padding: 3.12rem 0;
	display: inline-block;
	height: 300px;
	width: 33.33%;
	background: brown;
}
.info-featurethree {
	padding: 3.12rem 0;
	display: inline-block;
	height: 300px;
	width: 33.33%;
	background: orange;
}