/* 

	PANEL - HOME
		 
*/ 
.panel-heading-cuenta {
	color: @verde-csd !important;
}
.panel-heading-cuenta h2 {
	font-size: 1.50em;
	padding-left: 2rem;
	margin: .9rem 0;
	padding: 0 1.3rem;
	font-weight: 500;
}
.btn-confdom {
	margin-left: .45rem;
	padding: 0.8rem !important;
	width: auto;
}
.mod-title {
	margin-top: 16px;
}
.period-test-title {
	font-size: 1.38rem;
}
/*

	MEDIAS QUERYS - HOME

*/
@media screen and (max-width: 677px) {
	.btn-confdom {
		margin-left: 0;
	}
}
@media screen and (max-width: 375px) {
	.btn-confdom {
		font-size: .75rem !important;
	}	
}
@media screen and (max-width: 345px) {
	.btn-confdom {
		font-size: .65rem !important;
	}
}
