/*

	PANEL - INFO CV MODULE

*/
.panel-heading-infomod {
	color: @verde-csd !important;
}
.panel-heading-infomod h2 {
	font-size: 1.50em;
	padding-left: 2rem;
	margin: .9rem 0;
	padding: 0 1.3rem;
	font-weight: 500;
}
.info-cv-border {
	border-right: 1px solid rgb(221, 221, 221);
}
.img-infocv {
	width: 600px;
}
.desc-infocv {
	margin-top: 3rem;
}
.column2 {
    padding-left: 0;
}
.info-mod-cost {
	position: relative;
	font-size: 3rem;
}
.list-caract {
	margin-top: 2rem;
}
.list-caract ul {
	list-style: none;
	padding-left: 2.5rem;
}
.list-caract ul li p{
	padding-left: 1.3rem;
}
.more-modules {
	margin-left: 2.7rem;
}
/*

	MEDIAS QUERYS - INFO CV MODULE

*/
@media screen and (max-width: 1199px) {
	.img-infocv {
	  width: 390px;
	}
	.info-mod-cost span {
		left: 9.8rem;
	}
}
@media screen and (max-width: 991px) {
	.info-cv-border {
		border-right: none;
	}
	.img-infocv {
	  width: 90%;
	  height: auto;
	}
}
@media screen and (max-width: 600px) {
	.list-caract ul {
		padding-left: 1.5rem;
	}
}