.search-content {
	padding: 0 0 2rem 0;
}
.search-content img {
	height: auto;
	width: 268px;
	margin-bottom: .5rem;
}
.know-search {
	width: 45%;
	display: inline-block;
}
.btn-know-search {
	padding: .4rem .7rem !important;
	border-radius: 0;
	position: relative;
	bottom: 0.1rem;
}
.for-init {
	border-right: 1px solid #D0CCCC;
	padding-bottom: 6rem;
}
.frequent-ask {
	padding-left: 3rem;
}
.for-init ul,
.frequent-ask ul {
	padding-left: 1rem
}
.titles-know {
	color: @verde-csd;
	font-weight: 500;
	margin-bottom: 1.2rem;
}
/*

	MEDIAS QUERYS - KNOWLEDGE - BASE

*/
@media screen and (max-width: 767px) {
	.know-search {
		width: 70%;
	}
	.for-init {
		padding-left: 3rem;
		border-right: 0;
		padding-bottom: 1.5rem;
	}
}
@media screen and (max-width: 487px) {
	.search-content img {
		width: 60%;
	}
	.for-init {
		padding-left: 2rem;
	}
	.frequent-ask {
		padding-left: 2rem;
	}

}