/*

	HEADER - LOGIN

*/
.header-register {
	background: rgb(23, 199, 160);
	height: 5.19em;
    overflow: hidden;
    padding: 0 4.25em;
}
.header-register nav {
	margin: 0;
	position: relative;
}	
.header-register nav img {
	width: 90px;
	height: auto;
	position: relative;
	top: .25em;
	left: 0em;
	float: left;
}
.header-register nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.header-register nav ul li {
	float: left;
}
.header-register nav ul li:nth-child(1) {
	position: absolute;
	right: 6em;
}
.header-register nav ul li:nth-child(2) {
	position: absolute;
	right: 0em;
}
.header-register nav ul li a {
	color: #FFF;
	line-height: 5.19rem;
	text-decoration: none;
	margin-left: 2em;
	font-size: 14px;
}
/*

	FORM - LOGIN

*/
.login {
	background: url('../images/csdbg.jpg');
	opacity: .8;
}
.content-form {
	width: 450px;
	margin: 0 auto;
	background-color: transparent;
	opacity: 0.9;
	padding: 4rem 0;
}
.form-login {
	padding: 3.12rem;
	opacity: 1!important;
	background-color: transparent;
	background: black;
}
.form-login img{
	width: 65%;
	height: auto;
	margin-bottom: 1.5rem;
}
.form-login label {
	color: #FFF;
	text-align: left;
	font-size: .8rem;
}
.checkbox {
	display: inline-block;
}
.form-login div + a {
	color: #FFF;
	text-decoration: none;
	font-size: .8rem;
	margin-left: 3rem;
}
.btn-login {
	background: #17C7A0;
	font-size: 1rem;
	font-weight: bold;
	color: #FFFFFF;
	padding: .8em 2.50em;
	text-decoration: none;
	border-style: none;
	width: 100%;
	margin-top: 1rem;
}
.btn-login:hover {
	background: #198B72;
	color: #FFFFFF;
}
/*

	FOOTER - LOGIN

*/
.footer-login {
	text-align: center;
	margin-top: 4.5rem;
	background: #e6e6e6;
	line-height: 3.56rem;
	height: 3.56rem;
	opacity: .5;
}
.footer-login ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.footer-login ul li {
	display: inline-block;
	position: absolute;
}
.footer-login ul > li:nth-child(1) {
	left: 4rem;
}
.footer-login ul > li:nth-child(2) {
	right: 22.4rem;
}
.footer-login ul > li:nth-child(3) {
	right: 13rem;
}
.footer-login ul > li:nth-child(4) {
	right: 4rem;
}
.footer-login ul li a {
	display: inline-block;
	color: black;
	font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
}
.mgbtn0 {
	margin-bottom: 0
}
/*

	MEDIAS QUERYS - LOGIN

*/
@media screen and (min-width: 1500px) {
	.content-form {
		padding: 9rem 0 !important;
	}
}
@media screen and (min-width: 1300px) {
	.content-form {
		padding: 7rem 0;
	}
}
@media screen and (max-width: 991px) {
	.footer-login {
		height: auto;
	}
	.footer-login ul li {
		display: inline-block;
		position: static;
		height: 2rem;
	}
	.footer-login ul > li:nth-child(1) {
		display: block;
	}
}
@media screen and (max-width: 449px) {
	.header-login {
	    padding: 0 1.5em;
	}
	.content-form {
		width: 100%;
		padding-top: 2rem;
	}
	.form-login div + a {
		margin-left: 0rem;
	}
	.checkbox {
		display: block;
	}
}
@media screen and (max-width: 430px) {
	.footer-login ul li a {
		font-size: .6rem;
	}
}