/*

	PANEL - MODULE

*/
.panel-heading-modules {
	color: @verde-csd !important;
}
.panel-heading-modules h2 {
	font-size: 1.50em;
	padding-left: 2rem;
	margin: .9rem 0;
	padding: 0 1.3rem;
	font-weight: 500;
}
.module-icon {
	background: @verde-csd;
	height: 100px;
	border-radius: 50%;
	width: 100px;
	float: left;
	margin: 1.8rem 1rem;
	position: relative;
}
.module-descr {
	float: left;
	max-width: 70%;
}
.module-descr a {
	text-decoration: none;
}
.module-prices {
	display: inline-block;
	position: relative;
	line-height: 9rem;
	font-size: 3rem;
	color: @gray-csd;
	margin-left: 3rem;
}
.cost {
	font-size: 1.4rem;
	position: absolute;
	top: -.6rem;
	left: -0.8rem;
}
/*

	MEDIAS QUERYS - MODULES

*/
@media screen and (max-width: 991px) {
	.module-icon {
		margin: 4rem 1rem;
	}
	.module-descr {
		max-width: 60%;
	}
	.module-prices {
		line-height: 14rem;
		margin-left: 2rem;
	}
}
@media screen and (max-width: 722px) {
	.module-descr {
		max-width: initial;
		float: initial;
		display: inline-block;
	}
	.module-prices {
		line-height: 4rem;
		display: inline-block;
		margin-left: .8rem;
	}
	.module-icon {
		margin: 1rem 1rem;
	}
}
