/*

	PANEL - PROFILE

*/
.panel-heading-perfil {
	color: @verde-csd !important;
}
.panel-heading-perfil h2 {
	font-size: 1.50em;
	padding-left: 2rem;
	margin: .9rem 0;
	padding: 0 1.3rem;
	font-weight: 500;
}
.delete-susc p  {
	width: 50%;
	display: inline-block;
}
.delete-susc button  {
	position: relative;
	bottom: .6rem;
	left: 1rem;
}
/*

	MODAL - PROFILE BILL

*/
.bill-modal img {
	width: 173px;
}
.backgmodal-bill {
	background: rgb(245, 245, 245);
	border: 7px solid white;
    padding: 0.5rem 0.7rem;
}
.content-databill {
	padding: 4rem 0 2.5rem;
	border-bottom: 2px solid white; 
}
.content-databill table {
	margin-bottom: 0;
}
.border-total {
	border-top: 2px solid #17c7a0 !important;
	padding-top: .5rem;
}
.total-label-modal {
    position: absolute;
    right: 8rem;
    color: @verde-csd;
}
.total-modal {
	position: absolute;
	right: 2.9rem;
}
.csd-foter-modal {
	margin-top: .8rem;
	font-size: .7rem;
}
/*

	MEDIAS QUERYS - PROFILE

*/
@media screen and (max-width: 1199px) {
	.delete-susc button {
	  bottom: 1.5rem;
	}
}
@media screen and (max-width: 991px) {
	.delete-susc button  {
		bottom: 1.9rem;
	}
}
@media screen and (max-width: 630px) {
	.delete-susc p  {
		width: 61%
	}
}
@media screen and (max-width: 565px) {
	.delete-susc p  {
		width: 100%;
	}
	.delete-susc button  {
		position: initial;
	}
}