@bgverde-csd: #17c7a0;
@gray-csd: #626262;
@white-csd: #FFF;

//Alerts
@border-alert-csd: #ff905a;
@text-alert-csd: #ffb885;

//Paneles
@font-size-titles: 1.1rem;

//Button
@buttongreen-csd: #1EA486;
@butongreen-hover-csd: #198B72;